<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AnalyticsMagicApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>AnalyticsWatchExample.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Notification - AnalyticsWatchExample.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B61108081C19CFC600CD4538</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B611081C1C19CFC700CD4538</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B61108271C19CFC700CD4538</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B61108461C19E3CB00CD4538</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
